extends baseEmail

block content

    p Hi #{firstName},
    p `Please reset the Password Using the mentioned link ${url} also enter password and confirm password \n`;
    p (website action is not implemented yet.)
    table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}` target='_blank') Reset Password.
    p If you didn't forget the password, please ignore the email!